.summary-div{
    width: 25%;
    border-right: 1px solid #e8e8e8;
    padding-left: 20px;
}
.value{
    color: #6E39CB;
    font-size: 24px;
}
.date{
    color: #5e5c5c;
    font-size: 14px;
}
.MuiSelect-select{
    padding: 5px !important;
    color: #6E39CB !important;
}
.MuiInputLabel-root{
    margin-top: -10px;
    color: #6E39CB !important;
}
.MuiTabs-root{
    background-color: #e8e8e8;
    border-radius: 10px;
    min-height: 30px !important;
    height: 40px;
}
.MuiButtonBase-root{
    color: #6E39CB !important;
    font-size: 12px !important;
    
}