body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8e8e8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.login-img{
  width: 50%;
  height: 100%;
  border-radius: 20px;
}
.form-container{
  width: 50%;
}
.custom-input{
  width: 100%;
  height: 30px;
  border: 1px solid #525252;
  border-radius: 10px;
  margin-top: 20px;

}
.label{
  margin-top: 20px;
  display: block;
}
.login-btn{
  width: 100%;
  height: 40px;
  background-color: rgb(22, 97, 159);
  border: none;
  border-radius: 15px;
  margin-top: 50px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}
.row-form{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}
.product-form-label{
  display: block;
}
.product-form-input{
  width: 300px;
  height: 30px;
  background-color: #F4F5F9;
  border: 1px solid #cdcaca;
  border-radius: 5px;
  margin-top: 10px;
}
.file-container{
  border: 1px dotted #6e39cb;
  height: 250px;
  
}
::file-selector-button {
  display: none;
 
}
.file{
  
  cursor: pointer;
  display: none;
}
.upload{
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  text-align: center;
  margin-top: 15%;
  color: #6e39cb;
  font-size: 18px;
}
.edit-btn{
  border: none;
  background-color: #C2A1FD;
  color: #fff;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
  width: 50px;
}
.product-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.round-dot{
  width: 10px;
  height: 10px;
 
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}
.MuiTableCell-root{
  text-align: left !important;
}